.directions {
    width: 1440px;
    margin-top: 60px;
    background-color: #FCF8FE;
    margin-bottom: 150px;
}

.directions__wrapper {
    position: relative;
    width: 100%;
    background-image: url(/img/directions-bg.jpg);
    background-position: center;
    background-repeat: repeat;
}

.directions__2wrapper {
    margin: 0 auto;
    width: 921px;
    position: relative;
}
.directions .directions__list {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    width: 921px;
    margin: 0 auto;

}

.directions__item {
    position: relative;
    height: 180px;
    display: flex;
    flex-shrink: 0;
    background-color: #fff;
    box-shadow: 0px 4px 25px rgba(142, 128, 169, 0.2);
    &:nth-child(1){
        width: 366px;
        height: 493px;

        flex-direction: column;
        & .directions__btn {
            height: 182px;
            width: 64px;
            right: 0;
            bottom: 0;
            &::after {
                width: 15px;
                height: 15px;
            }
        }
    }
}

.directions__img {
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
}

.directions__img-wrapper {
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
}

.directions__item-info {
    padding: 35px;
}

.directions__title {
    margin-bottom: 11px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #8E80A9;
}

.directions__time {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #8E80A9;
}

.directions__name {
    margin-top: 15px;
}

.directions__btn {
    bottom: 35px;
    right: 35px;
    position: absolute;
}

.directions__link {
    position: absolute;
    padding: 14px 191px;
    bottom: 7px;
    right: 0px;

    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #8E80A9;
}

@media (max-width: 1440px) {
    .directions {
        margin: 0 auto;
        width: 768px;
        margin-bottom: 120px;
    }
    .directions__2wrapper {
        width: 100%;
    }
    .directions .directions__list {
        align-content: space-between;
        width: 620px;
        height: 335px;
    
    }
    .directions__item {
        width: 355px;
        height: 122px;
        margin-bottom: 18px;
        &:nth-child(1){
            width: 247px;
            height: 333px;
            & .directions__img-wrapper {
                width: 100%;
            }
            flex-direction: column;
            & .directions__btn {
                height: 123px;
                width: 43px;
                right: 0;
                bottom: 0;
                &::after {
                    width: 8px;
                    height: 8px;
                }
            }
        }
    }
    .directions__item-info {
        padding: 19px 20px;
    }
    .directions__title {
        margin-bottom: 5px;
        font-size: 12px;
        line-height: 12px;
    }
    
    .directions__time {
        font-size: 10px;
        line-height: 15px;
        color: #8E80A9;
    }
    
    .directions__name {
        margin-top: 10px;
    }
    .directions__img-wrapper {
        width: 148px;
    }
    .directions__link {
        font-size: 12px;
        padding: 7px 127px 11px 127px;
        bottom: 0px;
        right: 74px;
    }
    .directions__btn {
        bottom: 24px;
        right: 23px;
    }
    
}