.footer {
    width: 1440px;
    padding: 28px 251px;
    display: flex;
    justify-content: space-between;
    background-color: #8373a1;
}

.footer__link,
.footer__copyright {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;

    color: rgba(255, 255, 255, 0.5);

}