.header {
    width: 1440px;
    min-height: 760px;
    margin: 0 auto;
    padding: 65px 140px;
    position: relative;
    box-sizing: border-box;
    background-image: url(../img/yoga-header-bg.jpg);
    background-repeat: no-repeat;
}

.header__wrapper {
    width: 1160px;
    min-height: 630px;
    top: 65px;
    left: 140px;
    position: absolute;
    
}

.header__btn {
    box-sizing: content-box;
    position: relative;
    display: block;
    height: 48px;
    width: 180px;

    margin: 0 auto;
    padding-left: 68px;

    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #E65C7B;
    &::before {
        left: 0;
        content: "";
        display: block;
        position: absolute;
        height: 48px;
        width: 56px;
        background-color: #e65c7b;
        font-size: 20px;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 18px;
        top: 16px;

        border-top: 1px solid #fff;
        border-right: 1px solid #fff;
        width: 15px;
        height: 15px;
        transform: rotate(45deg) ;
    }
}