
.main-nav__btn {
    position: relative;
    box-sizing: border-box;

    background: none;
    border: none;
    padding: 1px;
    padding-left: 36px;

    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;

    color: #8B7EAC;
}

.main-nav__burger-menu-line {
    position: absolute;
    left: 0;
    top: 0;

    width: 24px;
    height: 2px;

    background-color: #8B7EAC;

    &:nth-child(2) {
        top: 50%;
        transform: translateY(-1px);

    }
    &:nth-child(3) {
        top: 100%;
        transform: translateY(-1px);
    }
    &--short {
        width: 15px;
    }
}

.main-nav__tel-link {
    position: absolute;
    top: 0;
    right: 0;
}

.main-nav__list {
    position: absolute;
    bottom: 0;
    left: 0;
}

.main-nav__city-btn {
    position: absolute;
    bottom: 0;
    right: 0;
}

.main-nav__tel-link {
    display: block;
    text-decoration: none;
    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    color: #8B7EAC;
}

.main-nav__city-btn {
    background: none;
    border: none;

    font-family: Roboto;
    font-size: 16px;
    line-height: 16px;
    color: #8B7EAC;
}

@media (max-width: 1440px) {
    .main-nav__btn {
        padding-left: 20px;
        font-size: 12px;
        line-height: 8px;
    }
    .main-nav__burger-menu-line {
        width: 13px;
        height: 1px;
        &:nth-child(3) {
            transform: translateY(-2px);
        }
        &--short {
            width: 8px;
        }
    }
    .main-nav__tel-link,
    .main-nav__city-btn {
        font-size: 12px;
        line-height: 12px;
    }
    
}

@media (max-width: 767.98px) {
    .main-nav__btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20px;
        font-size: 0px;
        line-height: 0px;
        width: 30px;
        height: 12px;
        padding-left: 0;
    }
    .main-nav__burger-menu-line {
        
        position: relative;
        width: 30px;
        top: unset;
        left: unset;
        &:nth-child(2) {
            transform: unset;
            top: unset;
            left: unset;
        }
        &:nth-child(3) {
            top: unset;
            left: unset;
            width: 20px;
            transform: unset;
        }
    }
    .main-nav__city-btn,
    .main-nav__list {
        display: none;
    }
}