.subtitle {
    font-family: Caveat;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 45px;
    color: #8E80A9;
    margin-left: 150px;
    margin-top: 110px;
    margin-bottom: 15px;
    display: block;
}

@media (max-width: 1440px) {
    .subtitle {
        margin-top: 50px;
        margin-bottom: 0px;
        margin-left: 120px;
        font-size: 24px;
        line-height: 24px;
    }
}